<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.newgram.s2oul_android">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="699423233b502ac63c9ca8a5783160cb"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".info.InfoFilterActivity">
        </activity>
        <activity android:name=".searchFilter.SearchFilterActivity">
        </activity>
        <activity android:name=".searchResult.SearchResultActivity">
        </activity>
        <activity android:name=".detail.placeDetail.PlaceDetailActivity">
        </activity>
        <activity android:name=".detail.showDetail.ShowDetailActivity">
        </activity>
        <activity android:name=".search.SearchActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>